* {
  box-sizing: border-box;
}
main {
  padding: 1rem;
}
/*Q1.Write CSS to:
- Make all paragraph text **blue**- Set the paragraph background colour to **light grey** */
p {
  color: blue;
  background-color: lightgrey;
}
/* Q2.Create:
- A class `.box` with:- width: `200px`- height: `100px`- background color: `lightblue`
- An id `#title` with:- text color: `green`- center aligned text */
.box {
  width: 200px;
  height: 100px;
  background-color: lightblue;
}
#title {
  color: green;
  text-align: center;
}
/* Q3.Write CSS for a `<div>` that has:
- width: `250px`- padding: `20px`- border: `3px solid black`- margin: `15px` */
div {
  width: 250px;
  padding: 20px;
  border: 3px solid black;
  margin: 15px;
}
/* Q4.Modify the previous question so that:
- Padding and border **do not increase** the total width- Use `box-sizing: border-box` */
div {
  width: 250px;
  padding: 20px;
  border: 3px solid black;
  margin: 15px;
  box-sizing: border-box;
}
/* Q5.Write CSS to:
- Center align all `<h1>` text- Make `<h1>` text **bold**- Transform text to **uppercase** */
h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* Q6.Apply CSS to the body:
- Use font: `Poppins`- Add fallback fonts: `Roboto`, `Arial`, `sans-serif`- Set default font size to `16px` */
body {
  font-family: 'Poppins', 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  color: black;
  background-color: white;
}
/* Q7.Style all anchor (`<a>`) tags to: */
 /* - Remove underline by default- On hover, show **red wavy underline** */ */
a {
  text-decoration: none;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
/* Q8.Write CSS to:
- Set paragraph text color using **RGB** for red- Set heading background color using **Hex** for black */
#p2 {
  color: rgb(216, 18, 18);
}
h2 {
  color: white;
  background-color: #000000;
}
/* Q9.Write CSS using shorthand to:
- Set padding: `10px 20px`- Set margin: `15px 30px`Apply it to a `.card` class. */
.card {
  padding: 10px 20px;
  margin: 15px 30px;
}
/* Q10.Create a `<div>` with:
- width: `200px`- height: `100px`- Add more text inside than the given height- Use CSS to handle overflow properly */
.box {
  height: 100px;
  width: 200px;
  overflow: auto;
}
/* Q11.Create **two `<span>` elements** that appear **on the same line**.
- Give them a background color- Try setting `width: 100px` and observe what happens */
span {
  width: 100px;
  background-color: aqua;
  display: inline;
}
/* Q12.Create **two `<div>` elements** that appear **on separate lines**.
- Set width to `200px`- Set height to `50px`- Add different background colors */
.b1 {
  height: 50px;
  width: 200px;
  background-color: lightgreen;
}
.b2 {
  height: 50px;
  width: 200px;
  background-color: lightgrey;
}
/* Q13.Create **3 boxes side by side** using `display: inline-block`.
- Width: `150px`- Height: `100px`- Margin: `10px` */
.boxes {
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 10px;
}
/* Q14.Create a paragraph with some text.
- Hide it using `display: none`- Then try hiding it using `visibility: hidden` */
.para1 {
  display: none;
  background-color: pink;
}
.para2 {
  visibility: hidden;
  background-color: yellow;
}
/* Q15.Create **one div box** with:
- Width: `200px`- Height: `200px`- Background color: `rgba(255, 0, 0, 0.5)` */
.box3 {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 0, 0, 0.5);
}
/* Q16.Create **3 boxes** inside a container.
- Give all boxes different colors- Apply `opacity: 0.5` to each box */
.container {
  display: inline-flexbox;
  gap: 10px;
}
.square {
  width: 150px;
  height: 100px;
  opacity: 0.5;
}
.square1{
  background-color:chartreuse;
}
.square2{
  background-color:forestgreen;
}
.square3{
  background-color:blueviolet;
}
/* Q17.Create a parent div of `400px` width.
Inside it:- Create a child div with `width: 50%` */





/* Q18.Create a div with:
- `font-size: 20px`- `padding: 2em` */
.a1{
  font-size: 20px;
  padding: 2em;
}











/* Q20.Create a div:
- Height: `300px`- Add a background image- Use `background-size: cover`- Center the image */
/* .image{
  height: 300px;
  background-image: url('https://placehold.co/600x400?text=PreGrad');
  background-size: cover;       
  background-position: center;   
} */
body {
  background-image: url('https://placehold.co/600x400?text=PreGrad');
  background-size: cover;       
  background-position: center;   
}